.stuff{
	background-color: red
}

#connect-four #board {
  border: 1px solid #DEDEDE;
  margin-left: 130px;
  position: absolute;
  text-align: center;
}

#connect-four .message {
  clear: left; 
  display: block;
}


#connect-four {
  text-align: center;
  width: 400px;
}
#connect-four ul {
  margin: auto;
  float: left;
  width: 0px;
  padding-left: 20px;
  color: #DEDEDE;

}