<div class="board">

  <div class="column1">
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
  </div>

  <div class="column2">
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
  </div>

  <div class="column3">
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
  </div>

  <div class="column4">
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
  </div>

  <div class="column5">
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
  </div>

  <div class="column6">
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
  </div>

  <div class="column7">
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
    <div class="emtpy"></div>
  </div>

</div>

