
<div class="wrapper">
  <h1>Connect Dat...4 times</h1>

    <% @hash1 = Digest::MD5.hexdigest(session[:email1]) %>
      <img src="http://www.gravatar.com/avatar/<%= @hash1 %>"/>
    <% @hash2 = Digest::MD5.hexdigest(session[:email2]) %>
      <img src="http://www.gravatar.com/avatar/<%= @hash2 %>"/>

    <div class="board">
      <div class="column">
        <div id = "1" class="empty"></div>
        <div id = "2" class="empty"></div>
        <div id = "3" class="empty"></div>
        <div id = "4" class="empty"></div>
        <div id = "5" class="empty"></div>
        <div id = "6" class="empty"></div>
      </div>

      <div class="column">
        <div id = "7" class="empty"></div>
        <div id = "8"class="empty"></div>
        <div id = "9" class="empty"></div>
        <div id = "10" class="empty"></div>
        <div id = "11" class="empty"></div>
        <div id = "12" class="empty"></div>
      </div>

      <div class="column">
        <div id = "13" class="empty"></div>
        <div id = "14" class="empty"></div>
        <div id = "15" class="empty"></div>
        <div id = "16" class="empty"></div>
        <div id = "17" class="empty"></div>
        <div id = "18" class="empty"></div>
      </div>

      <div class="column">
        <div id = "19" class="empty"></div>
        <div id = "20" class="empty"></div>
        <div id = "21" class="empty"></div>
        <div id = "22" class="empty"></div>
        <div id = "23" class="empty"></div>
        <div id = "24" class="empty"></div>
      </div>

      <div class="column">
        <div id = "25" class="empty"></div>
        <div id = "26" class="empty"></div>
        <div id = "27" class="empty"></div>
        <div id = "28" class="empty"></div>
        <div id = "29" class="empty"></div>
        <div id = "30" class="empty"></div>
      </div>

      <div class="column">
        <div id = "31" class="empty"></div>
        <div id = "32" class="empty"></div>
        <div id = "33" class="empty"></div>
        <div id = "34" class="empty"></div>
        <div id = "35" class="empty"></div>
        <div id = "36" class="empty"></div>
      </div>

      <div class="column last">
        <div id = "37" class="empty"></div>
        <div id = "38" class="empty"></div>
        <div id = "39" class="empty"></div>
        <div id = "40" class="empty"></div>
        <div id = "41" class="empty"></div>
        <div id = "42" class="empty"></div>
      </div>
    </div>
</div>
