<h1>I AM THE HOME PAGE </h1>

<div class="board">
  <div class="column1">
    <div id = "1" class="emtpy"></div>
    <div id = "2" class="emtpy"></div>
    <div id = "3" class="emtpy"></div>
    <div id = "4" class="emtpy"></div>
    <div id = "5" class="emtpy"></div>
    <div id = "6" class="emtpy"></div>
  </div>

  <div class="column2">
    <div id = "7" class="emtpy"></div>
    <div id = "8"class="emtpy"></div>
    <div id = "9" class="emtpy"></div>
    <div id = "10" class="emtpy"></div>
    <div id = "11" class="emtpy"></div>
    <div id = "12" class="emtpy"></div>
  </div>

  <div class="column3">
    <div id = "13" class="emtpy"></div>
    <div id = "14" class="emtpy"></div>
    <div id = "15" class="emtpy"></div>
    <div id = "16" class="emtpy"></div>
    <div id = "17" class="emtpy"></div>
    <div id = "18" class="emtpy"></div>
  </div>

  <div class="column4">
    <div id = "19" class="emtpy"></div>
    <div id = "20" class="emtpy"></div>
    <div id = "21" class="emtpy"></div>
    <div id = "22" class="emtpy"></div>
    <div id = "23" class="emtpy"></div>
    <div id = "24" class="emtpy"></div>
  </div>

  <div class="column5">
    <div id = "25" class="emtpy"></div>
    <div id = "26" class="emtpy"></div>
    <div id = "27" class="emtpy"></div>
    <div id = "28" class="emtpy"></div>
    <div id = "29" class="emtpy"></div>
    <div id = "30" class="emtpy"></div>
  </div>

  <div class="column6">
    <div id = "31" class="emtpy"></div>
    <div id = "32" class="emtpy"></div>
    <div id = "33" class="emtpy"></div>
    <div id = "34" class="emtpy"></div>
    <div id = "35" class="emtpy"></div>
    <div id = "36" class="emtpy"></div>
  </div>

  <div class="column7">
    <div id = "37" class="emtpy"></div>
    <div id = "38" class="emtpy"></div>
    <div id = "39" class="emtpy"></div>
    <div id = "40" class="emtpy"></div>
    <div id = "41" class="emtpy"></div>
    <div id = "42" class="emtpy"></div>
  </div>

</div>

