<div id="banner">
  <h1>Login:</h1>
</div>

<div id="login">
  <h3>Enter each players email:</h3>
    <form action="/gravatars" method="post">
      <label>Player 1:</label>
      <input type="text" name="email1"><br>
      <label>Player 2:</label>
      <input type="text" name="email2"><br><br>
      <input type="submit" value="Play on, playas">
    </form>
</div>

